<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/cosmo/bootstrap.min.css" rel="stylesheet" >
        <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
 		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <style type="text/css">
            .display-1 {text-align:center;color:#e1b7b7;}
            .display-1 .fa {animation:fa-spin 5s infinite linear;}
            .display-3 {text-align:center;color:#df726a;}
            .lower-case {text-align:center;}
        </style>
        <title>Error - Youtube to MP3 Converter</title>
	</head>

	<body>
		<div class="wrapper">
			<div class="container-fluid" id="top-container-fluid-nav">
				<div class="container">
					<!---- for nav container ----->
				</div>
			</div>

			<div class="container-fluid" id="body-container-fluid">
				<div class="container">
						<div class="jumbotron">
						<h1 class="display-1">4<i class="fa  fa-spin fa-cog fa-3x"></i> 4</h1>
						<!---- <h1 class="display-3">ERROR</h1>---->
						<p class="lower-case">Aw !! webpage not found please try to refresh. <a href="/">Back to homepage</a></p>
						<p class="lower-case">Maybe the page is under maintenance</p>
                        </div>
				</div>
			</div>

			<div class="container-fluid" id="footer-container-fluid">
				<div class="container">
					<!---- for footer container ---->
 				</div>
			</div>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <scipt src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></scipt>
		</div>
 	</body>
</html>

