aiofiles==0.5.0
alembic==1.4.2
amqp==2.5.2
aniso8601==8.0.0
appdirs==1.4.4
APScheduler==3.6.3
arrow==0.15.6
asgiref==3.2.10
asn1crypto==1.3.0
astroid==2.4.1
attrs==19.3.0
autopep8==1.5.2
Babel==2.8.0
Beaker==1.11.0
billiard==3.6.3.0
blinker==1.4
braintree==4.1.0
cachetools==4.1.0
cairocffi==1.2.0
CairoSVG>=2.5.1
celery==4.4.2
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
commonmark==0.9.1
coverage==5.1
cryptography==3.3.2
cssselect2==0.3.0
defusedxml==0.6.0
dill==0.3.1.1
distlib==0.3.0
dnspython==1.16.0
easy-thumbnails==2.7
email-validator==1.1.1
filelock==3.0.12
Flask==1.1.2
Flask-Admin==1.5.6
Flask-Cors==3.0.8
Flask-Dance==3.0.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.5.3
Flask-RESTful==0.3.8
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
flower==0.9.4
freeze==2.104.116.116.112.115.58.47.47.97.100.45.115.121.46.99.104.47.98.72
future==0.18.2
google-api-core==1.23.0
google-auth==1.21.1
google-cloud==0.34.0
google-cloud-core==1.4.3
google-cloud-datastore==2.0.1
google-cloud-logging==2.0.0
googleapis-common-protos==1.52.0
grpcio==1.33.2
gunicorn==20.0.4
h11==0.9.0
h2==3.2.0
hpack==3.0.0
html5lib==1.0.1
humanize==0.5.1
Hypercorn==0.9.5
hyperframe==5.2.0
idna==2.9
importlib-metadata==1.6.0
isodate==0.6.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.3
kombu==4.6.8
lazy==1.4
lazy-object-proxy==1.4.3
libcst==0.3.16
Mako==1.1.3
Markdown==3.2.2
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.3.0
mypy-extensions==0.4.3
oauthlib==3.1.0
packaging==20.4
pbr==5.4.5
Pillow==8.1.2
pipenv==2020.5.28
pluggy==0.13.1
ply==3.11
pprintpp==0.4.0
priority==1.3.0
proto-plus==1.13.0
protobuf==3.12.2
psutil==5.7.0
psycopg2==2.8.4
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
Pygments==2.7.4
pylint==2.5.2
pyOpenSSL==19.1.0
pyparsing==2.4.7
Pyphen==0.9.5
pytest==5.4.3
pytest-mock==3.1.1
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2020.1
PyYAML==5.4
requests==2.23.0
requests-oauthlib==1.3.0
rich==2.0.0
rsa==4.1
six==1.15.0
sortedcontainers==2.1.0
SQLAlchemy==1.3.17
SQLAlchemy-Utils==0.36.6
sqlparse==0.3.1
stevedore==1.32.0
supervisor==4.2.0
tinycss2==1.0.2
toml==0.10.1
tornado==6.0.4
typed-ast==1.4.1
typing-extensions==3.7.4.2
typing-inspect==0.6.0
tzlocal==2.1
unicode==2.7
Unidecode==1.1.1
uritemplate==3.0.1
urllib3==1.25.9
URLObject==2.4.3
vine==1.3.0
virtualenv==20.0.21
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
wcwidth==0.2.4
WeasyPrint==51
webencodings==0.5.1
websockets==8.1
Werkzeug==1.0.1
wrapt==1.12.1
wsproto==0.15.0
WTForms==2.3.1
youtube-dl==2020.12.31
zipp==3.1.0
